.dayBox {
  background: none;
  border: none;
  border-radius: 8px; /* Quadradinho */
  width: 40px;
  height: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  cursor: pointer;
  color: #333;
  transition: all 0.2s;
  position: relative;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  user-select: none;
  margin: 0 auto;
}

.dayBox:active {
  transform: scale(0.95);
}

.today {
  font-weight: 900;
  border: 3px solid #d946ef;
  transform: scale(1.8);
  z-index: 10;
  background-color: #fff;
  box-shadow: 0 4px 12px rgba(217, 70, 239, 0.4);
}

.periodDay {
  background-color: #fecdd3; /* Rosa claro para menstruação */
  color: #be123c;
}

.predictedDay {
  background-color: #fce7f3;
  color: #be123c;
}

.tpmDay {
  border: 2px dashed #f9a8d4; /* Rosa pontilhado para TPM */
  color: #db2777;
}

.tpmText {
  font-size: 0.55rem;
  font-weight: bold;
  color: #db2777;
  position: absolute;
  bottom: 2px;
}

.cycleDot {
  width: 4px;
  height: 4px;
  background-color: #d946ef;
  border-radius: 50%;
  position: absolute;
  bottom: 2px;
}

.noteDot {
  width: 4px;
  height: 4px;
  background-color: #fbbf24; /* Um amarelo sutil para a nota */
  border-radius: 50%;
  position: absolute;
  bottom: 2px;
  right: 18px;
}

.bloodDrop {
  color: #e11d48;
  position: absolute;
  top: 2px;
  right: 2px;
}

.grayDrop {
  color: #9ca3af;
  position: absolute;
  top: 2px;
  right: 2px;
}